@{
    ViewBag.Title = "Mia Pagina";
}

<div class="jumbotron">
    <h1>Questa è la mia pagina</h1>
    <p class="lead">Guai a voi se mi copiate!!!!</p>
</div>
<div class="container">
    <p>Benvanuti nella mia pagina senza senso !</p> <br />
    <h5>@ViewBag.message</h5>
</div>